/* Fonts */
/* Regular */
@font-face {
  font-family: 'Lato';
  src: url(../font/Lato-Regular.ttf);
  font-weight: 400;
}
/* Bold */
@font-face {
  font-family: 'Lato';
  src: url(../font/Lato-Bold.ttf);
  font-weight: 700;
}

/* Basic styles */
html {
  box-sizing: border-box;
}
*, *::before, *::after  {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  line-height: 1.5;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 275px;
}
.btn {
  background-color: #01996D;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn__link {
  font-size: 20px;
  color: #ffffff;
}

/* Header section */
.header {
  height: 85px;
  padding: 18px 0;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__items {
  display: flex;
}
.list__item:not(:last-child) {
  margin-right: 72px;
}
.list__link {
  color: #292929;
}
.header__link {
  justify-content: flex-end;
}
.link__sign-in {
  color: #01996D;
  margin-right: 35px;
}
.header__btn {
  padding: 13px 50px;
}
.header__burger {
  display: none;
} 
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.burger__span,
.burger__span::before,
.burger__span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #424242;
}
.burger__span::before {
  content: '';
  top: -8px;
}
.burger__span::after {
  content: '';
  top: 8px;
}

/* About section */
.about {
  min-height: 895px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 175px;
  margin-bottom: 169px;
}
.about__title {
  font-size: 65px;
  font-weight: 700;
  color: #01996D;
  max-width: 440px;
  margin-bottom: 30px;
}
.about__text {
  color: #484848;
  max-width: 420px;
  min-height: 123px;
  line-height: 1.5;
  margin-bottom: 18px;
}
.about__btn {
  padding: 20px 50px;
}

/* How it works section */
.how {
  min-height: 1386px;
  padding-bottom: 100px;  
}
.how__flex-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 105px;
}
.flex-left__span {
  font-size: 24px;
  color: #424242;
}
.flex-left__title {
  font-size: 50px;
  font-weight: 700;
  color: #01996D;
  max-width: 584px;
}
.flex-right__text {
  color: #424242;
  max-width: 671px;
}
.how__flex-bottom {
  display: flex;
  justify-content: space-between;
}
.flex-bottom__item {
  max-width: 390px;
}
.bottom-item:nth-child(2) {
  margin-top: 300px;
}
.bottom-item:nth-child(3) {
  margin-top: 100px;
}
.bottom-item__title {
  position: relative;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
  line-height: 1;
  margin-bottom: 55px;
}
.bottom-item__span {
  position: absolute;
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  bottom: 15px;
  left: 100px;
}
.bottom-item__text {
  max-width: 382px;
  color: #424242;
  margin-bottom: 60px;
}

/* Story section */
.story {
  min-height: 922px;
  background-color: #245852;
  padding: 175px 0 177px;
}
.story__flex {
  display: flex;
  justify-content: space-between;
}
.story__flex-left {
  max-width: 580px;
  margin-right: 31px;
}
.story__flex-title {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 33px;
}
.story__text {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 57px;
}
.story__btn {
  padding: 20px 50px;
}
.story__video-link {
  position: relative;
}
.story__play-icon {
position: absolute;
top: -277px;
left: 405px;
}

/* Our product section */
.product {
  padding: 175px 0 200px;
}
.product__flex {
  display: flex;
  justify-content: space-between;
}
.product__flex-left {
  position: relative;
}
.product__card {
  position: absolute;
  top: 70%;
  left: -10%;
  width: 296px;
  height: 307px;
  padding: 24px 0 30px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(165, 165, 165, 0.25); 
  border-radius: 5px;
}
.card__h5 {
  font-size: 14px;
}
.card__line {
  width: 110px;
}
.card__img {
  border-radius: 50%;
  margin-bottom: 10px;
}
.card__span {
  display: block;
  font-size: 12px;
  margin-bottom: 21px;
}
.card__h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}
.card__list {
  text-align: left;
  margin-left: 90px;
}
.card__item {
  font-size: 10px;
  list-style: circle;
}
.card__item:not(:last-child) {
  margin-bottom: 10px;
}
.product__span {
  margin-bottom: 10px;
}
.flex-left__title {
  margin-bottom: 20px;
}
.about__text {
  margin-bottom: 30px;
}
.product__btn {
  padding: 20px 50px;
}

/* Footer */
.footer {
  height: 100px;
  padding: 25px 0;
  background-color: #245852;
}
.footer__img {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.footer__icon {
  width: 50px;
  height: 50px;
}

/* Media */
@media screen and (max-width: 1920px) {
  .container {
  padding: 0 225px;
}
}

@media screen and (max-width: 1600px) {
  /* Basic */
  body {
    font-size: 16px;
  }
  .container {
    padding: 0 275px;
  }
  /* Header */
  .btn__link {
    font-size: 16px;
  }
  .header__btn {
    padding: 15px 30px;
  }
  .link__sign-in {
    margin-right: 40px;
  }
  .list__item:not(:last-child) {
    margin-right: 40px;
  }
  /* About */
  .about {
    min-height: 600px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 125px;
    margin-bottom: 125px;
  }
  .about__btn {
    padding: 15px 30px;
  }
  .about__title {
    font-size: 50px;
  }
  .about__text {
    min-height: 67px;
    max-width: 350px;
    margin-bottom: 35px;
  }
  /* How */
  .how__flex-top {
    align-items: center;
    margin-bottom: 80px;
  }
  .how {
  min-height: 1250px;
  }
  .flex-left__span {
    font-size: 16px;
  }
  .flex-left__title {
    font-size: 35px;
  }
  .flex-right__text {
    max-width: 550px;
  }
  .flex-bottom__item {
    max-width: 300px;
  }
  .bottom-item__title {
    font-size: 100px;
    margin-bottom: 35px;
  }
  .bottom-item__span {
    font-size: 20px;
    bottom: 10px;
    left: 80px;
  }
  .bottom-item__text {
    margin-bottom: 30px;
  }
  .bottom-item__img {
    width: 300px;
  }
  /* Story */
  .story {
    min-height: 600px;
    padding: 125px 0 125px;
  }
  .story__flex {
    align-items: center;
  }
  .story__flex-left {
    max-width: 400px;
  }
  .story__flex-title {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .story__text {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .story__btn {
    padding: 15px 35px;
  }
  .story__videp-img {
    width: 600px;
  }
  .story__play-icon {
  top: -200px;
  left: 250px;
  }
  /* Product */
  .product {
    padding: 125px 0 125px;
  }
  .product__flex {
    align-items: center;
  }
  .product__card {
    top: 60%;
    left: -5%;
    width: 195px;
    height: 270px;
  }
  .product__img {
    width: 600px;
    height: 550px;
  }
  .card__list {
    margin-left: 40px;
  }
  .about__text {
    margin-bottom: 35px;
  }
  .product__btn {
    padding: 15px 35px;
  }
}

@media screen and (max-width: 1550px) {
  .container {
    padding: 0 200px;
  }
}

@media screen and (max-width: 1380px) {
  .container {
    padding: 0 150px;
  }
}

@media screen and (max-width: 1280px) {
  /* Header */
  .link__sign-in {
    margin-right: 20px;
  }
  .list__item:not(:last-child) {
    margin-right: 20px;
  }
  /* About */
  .about {
    padding-top: 100px;
    margin-bottom: 80px;
  }
  /* How */
  .how {
    min-height: 1150px;
  }
  .flex-bottom__item {
    max-width: 250px;
  }
  .bottom-item__img {
    width: 250px;
  }
  /* Story */
  .story {
    min-height: 400px;
    background-color: #245852;
    padding: 80px 0 80px;
  }
  .story__videp-img {
    width: 500px;
  }
  .story__play-icon {
    width: 50px;
    height: 50px;
    top: -150px;
    left: 230px;
  }
  /* Product */
  .product {
    padding: 100px 0 125px;
  }
  .product__img {
    width: 500px;
    height: 450px;
  }  
}

@media screen and (max-width: 1240px) {
  .container {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1140px) {
  .container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  /* Basic */
  .container {
    padding: 0 30px;
  }
  /* About */
  .about {
    margin: 0 auto;
    text-align: center;
  }
  .about__title {
    margin: 0 auto 30px;
    font-size: 35px;
  }
  .about__text {
    margin: 0 auto 30px;
    font-size: 14px;
    max-width: 300px;
  }
  /* How */
  .how {
    padding-top: 100px;
  }
  .how__flex-top {
    justify-content: normal;
    align-items: normal;
    gap: 150px;
  }
  .flex-left__title {
    font-size: 25px;
  }
  .flex-right__text {
    font-size: 14px;
    max-width: 450px;
    margin-top: 50px;
  }
  .bottom-item__title {
    font-size: 80px;
    margin-bottom: 25px;
  }
  .bottom-item__span {
    font-size: 20px;
    bottom: 10px;
    left: 75px;
  }
  .bottom-item__text {
    font-size: 14px;
  }
  /* Story */
  .story__flex-title {
    font-size: 25px;
  }
  .story__text {
    font-size: 14px;
  }
  /* Story and product */
  .story__flex, .product__flex {
    justify-content: center;
    gap: 30px;
  }
  /* Product */
  .product__span {
    font-size: 16px;
  }
  .product__img {
    width: 450px;
    height: 400px;
  }
  .flex-left__title {
    font-size: 25px;
  }
  .product__card {
    width: 170px;
    height: 250px;
  }
  .card__h5, .card__h4 {
    font-size: 12px;
  }
  .card__span, .card__list {
    font-size: 10px;
  }
  .card__list {
    margin-left: 35px;
  }
  /* Footer */
  .footer {
    height: 80px;
  }
  .footer__img {
    gap: 60px;
  }
  .footer__icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 900px) {
  /* Basic */
  .container {
    padding: 0 15px;
  }
  /* How */
  .how__flex-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  }
  .how__flex-bottom {
    justify-content: center;
    gap: 20px;
  }
  .flex-bottom__item {
    max-width: 200px;
  }
  .bottom-item__img {
    width: 200px;
  }
  /* Story */
  .story__videp-img {
    width: 360px;
  }
  .story__play-icon {
    width: 40px;
    height: 40px;
    top: -110px;
    left: 160px;
  }
  /* Product */
  .product__img {
    width: 350px;
    height: 300px;
  }
  .product__card {
    padding: 5px 0;
    width: 130px;
    height: 200px;
    top: 55%;
    left: -3%;
  }
  .card__line {
    margin: 2px auto;
  }
  .card__span {
    margin-bottom: 5px;
  }
  .card__h4 {
    margin-bottom: 15px;
  }
  .card__list {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__link, .header__btn, .list__items {
    display: none;
  }
  .header {
    height: 85px;
    padding: 30px 30px;
  }
  .header__burger {
    display: flex;
  }
  /* .list__items {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100px;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #01996D;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  .list__item {
    display: block;
    padding: 12px 24px;
    color: #333333;
    font-size: 20px;
    text-decoration: none;  
  }
  .list__item:hover {
    background-color: #cdf8dc;
  }
  #menu__toggle:checked~.burger__span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked~.burger__span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked~.burger__span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked~.list__items {
    visibility: visible;
    right: 0;
  }

.burger__span,
.burger__span::before,
.burger__span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
} */
.flex-bottom__item {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  max-width: 500px;
}
.how__flex-bottom {
  flex-direction: column;
}
.bottom-item:nth-child(2) {
  margin-top: 0px;
}
.bottom-item:nth-child(3) {
  margin-top: 0px;
}
}
@media screen and (max-width: 640px) {
  .story__flex {
    flex-direction: column;
  }
  .story__flex-left {
    text-align: center;
  }
  .product__flex {
    flex-direction: column-reverse;
  }
  .product__flex-right {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .story__flex {
    flex-direction: column;
  }
  .story__flex-left {
    text-align: center;
    margin-right: 0;
  }
  .product__flex {
    flex-direction: column-reverse;
  }
  .product__flex-right {
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .header {
    padding: 30px 10px;
  }
  .flex-bottom__item {
    flex-direction: column;
    text-align: center;
  }
  .bottom-item__span {
    font-size: 20px;
    bottom: 5px;
    left: 160px;
  }
  .bottom-item__img {
    width: 280px;
  }
}
@media screen and (max-width: 380px) {
  .story__videp-img {
    width: 300px;
  }
  .story__play-icon {
    width: 40px;
    height: 40px;
    top: -90px;
    left: 130px;
  }
  .product {
    padding-bottom: 80px;
  }
  .product__img {
    width: 300px;
    height: 250px;
  }
  .product__card {
    display: none;
  }
}

